<div class="collapsible collapsible--expanded">
  <header class="collpasible__header">
    <h2 class="collpasible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus enim
    dignissimos nostrum! Nemo corporis suscipit voluptates et culpa veritatis
    molestiae iure minima ullam assumenda aliquid vitae eum, temporibus
    provident molestias.
  </div>
</div>

<script src="js/main.js"></script>
