<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, iusto!
      Repudiandae ad inventore dicta quia voluptatem deserunt eos consequatur.
      Magnam quos porro quaerat. Cum voluptas sint nam illo, repellendus
      repudiandae.
    </p>
  </div>
</div>
